<body >
    <br>
    
    <input type="text" ng-model="chamado.assunto">
    <input type="text" ng-model="chamado.status">
    <input type="text" ng-model="chamado.mensagem">
    
    <input type="button" value="Salvar" ng-click="salvarChamado()"/>
    <input type="button" value="Desfaser" ng-click="cancelarAlterarChamado()"/>
    <br>
    <br>
    
    <input type="button" value="Listar" ng-click="listarChamados()">
    <div ng-repeat="chamado in listaChamado">
        {{chamado.id +'|'+chamado.assunto+'|'+chamado.status}}
                            - <input type="button" value="Excluir" ng-click="deletarChamado()">
            
    </div>
</body>