<h3 class="page-header">Editar Despesa</h3>

<div class="row">
    <div class="form-group col-md-2">
        <label for="inputID">ID</label>
        <input type="text" class="form-control" id="inputID" readonly ng-model="despesa.id">
    </div>
    <div class="form-group col-md-4">
        <label for="inputAssunto">Descrição</label>
        <input type="text" class="form-control" id="inputDescricao" placeholder="Descrição" ng-model="despesa.descDespesa">
    </div>
    <div class="form-group col-md-4">
        <label for="inputAssunto">Valor</label>
        <input type="text" class="form-control" id="inputValor" placeholder="Value" ng-model="despesa.valorDespesa">
    </div>
    
    <div class="form-group col-md-4">
        <label for="inputAssunto">Data vencimento</label>
        <input type="text" class="form-control" id="inputDtVenc" placeholder="yyyy-mm-dd" ng-model="despesa.dtVenc">
    </div>
    
    <div class="form-group col-md-4">
        <label for="inputAssunto">Parcelas</label>
        <input type="text" class="form-control" id="inputParcelas" placeholder="Value" ng-model="despesa.parcela">
    </div>
    
    <div class="form-group col-md-4">
        <label for="inputAssunto">Categoria</label>
        <input type="text" class="form-control" id="inputCategoria" placeholder="Value" ng-model="despesa.catDespesa">
    </div>
    
    <div class="form-group col-md-4">
        <label for="inputAssunto">Prioridade</label>
        <input type="text" class="form-control" id="inputPrioridade" placeholder="Value" ng-model="despesa.prioridade">
    </div>
    
    <div class="form-group col-md-4">
        <label for="inputAssunto">Status</label>
        <input type="text" class="form-control" id="inputStatus" placeholder="Value" ng-model="despesa.status">
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
       <a href="despesas" class="btn btn-primary" ng-click="salvarDespesa()" >Salvar </a>
        <a href="despesas" class="btn btn-default">Cancelar</a>
    </div>
</div>

</div>