<h3 class="page-header">Visualizar Item #{{despesaDetalhe.id}}</h3>

  <div class="row">
    <div class="col-md-4">
      <p><strong>ID</strong></p>
  	  <p>{{despesaDetalhe.id}}.</p>
    </div>

	<div class="col-md-4">
      <p><strong>Descri&ccedil;&atilde;o</strong></p>
  	  <p>{{despesaDetalhe.descricao}}</p>
    </div>

    <div class="col-md-4">
      <p><strong>Categoria</strong></p>
  	  <p> {{depesaDetalhe.categoria}}</p>
    </div>

	<div class="col-md-4">
      <p><strong>Vencimento</strong></p>
  	  <p> {{depesaDetalhe.vencimento}}</p>
    </div>
    
    <div class="col-md-4">
      <p><strong>Valor</strong></p>
  	  <p> {{depesaDetalhe.valor}}</p>
    </div>
    
    <div class="col-md-4">
      <p><strong>Prioridade</strong></p>
  	  <p> {{depesaDetalhe.prioridade}}</p>
    </div>
    
    <div class="col-md-4">
      <p><strong>Status</strong></p>
  	  <p> {{depesaDetalhe.status}}</p>
    </div>
    
    <div class="col-md-4">
      <p><strong>Parcela</strong></p>
  	  <p> {{depesaDetalhe.parcela}}</p>
    </div>
      
 </div>

 <hr />
 <div id="actions" class="row">
   <div class="col-md-12">
     <a href="despesas/edit/{{despesaDetalhe.id}}" ng-click="salvarDespesa(despesaDetalhe)" class="btn btn-primary">Editar</a>
	 <a href="despesas" class="btn btn-default">Fechar</a>
   </div>
 </div> 
