<br>
<input type="text" ng-model="chamado.id" style="width: 22px;"">
<input type="text" ng-model="chamado.descDespesa">
<input type="text" ng-model="chamado.catDespesa">
<input type="text" ng-model="chamado.dtVenc">
<input type="text" ng-model="chamado.valorDespesa">
<input type="text" ng-model="chamado.prioridade">
<input type="text" ng-model="chamado.status">
<input type="text" ng-model="chamado.parcela">

<input type="button" value="Salvar" ng-click="salvarDespesa()" />
<input type="button" value="Desfazer"
	ng-click="cancelarAlteracaoDespesa()" />

<br><br>
<input type="button" value="Pesquisar" ng-click="listarDespesas()" />
<br><br>

<table border="1">
	<tr>
		<td>ID:</td>
		<td>Descrição:</td>
		<td>Categoria:</td>
		<td>Data de vencimento:</td>
		<td>Valor:</td>
		<td>Prioridade:</td>
		<td>Status:</td>
		<td>Parcela:</td>
		
		<td>Excluir</td>  
		<td>Editar</td>
		<td>Detalhe</td>
	</tr>
	<tr ng-repeat="despesa in listaDespesa">
		<td>{{despesa.id }}</td>
		<td>{{despesa.descDespesa }}</td>
		<td>{{despesa.catDespesa }}</td>
		<td>{{despesa.dtVenc }}</td>
		<td>{{despesa.valorDespesa }}</td>
		<td>{{despesa.prioridade }}</td>
		<td>{{despesa.status }}</td>
		<td>{{despesa.parcela }}</td>
		
		<td><input type="button" value=" X " ng-click="deleteDespesa(despesa.id)" /></td>
		<td><input type="button" value=" edit " ng-click="alterarDespesa(despesa)" /></td>
		<td><a href="despesas/{{despesa.id}}">Detalhe</a></td>			
	</tr>
</table>