
<div class="jumbotron" id="telaInfo">

	<div class="media">
	<h><b>Wallet Control</b> &eacute; um programa que controla lan&ccedil;amentos futuros, contas em atraso, contas pagas e gastos diversos, podendo ser filtrado por categoria, prioridade ou data, dando ao usu&aacute;rio um melhor controle de suas despesas mensais.
	</div>

<div class="media">
<b><h2>Tecnologias usadas</h2></b>
<li>MySQL - MySQL Workbench 8.0 CE</li>
<li>Java - Eclipse </li>
<li>Maven</li>
<li>Jackson</li>
<li>Jersey</li>
<li>Json</li>
<li> Html - Bootstap Studio </li>
<li>JavaScript - jQuery - AngularJS</li>
<li>CSS</li>
<li>GitHub</li>
</div>

<div class="media">
Este projeto foi desenvolvido para o TCC do programa <b>Entra 21</b> de 2019, na cidade de Blumenau - SC.

Desenvolvedores:
<li>Erick Eduardo Tavares</li>
<li>Rafael Henrique da Silva</li>
<li>Anderson Espindola</li>
<li>Josu&eacute; Kujat </li>
</div>



<div class="media">
<img src="./img/git.png" id="imgInfo"> 
<a href="https://github.com/erick-tavares/Wallet_Control" target="_blank" title="GitHub">GitHub do projeto</a>
</div>


</div>
