<h3 class="page-header">Visualizar Item #{{rendaDetalhe.id}}</h3>
  
  <div class="row">
    <div class="col-md-4">
      <p><strong>ID</strong></p>
  	  <p>{{rendaDetalhe.ID}}.</p>
    </div>
	
	<div class="col-md-4">
      <p><strong>Descrição</strong></p>
  	  <p>{{rendaDetalhe.DESCRICAO_RENDA}}</p>
    </div>
	
	<div class="col-md-4">
      <p><strong>Valor</strong></p>
  	  <p>{{rendaDetalhe.VALOR_RENDA}}</p>
    </div> 
    <div class="col-md-8">
      <p><strong>Data entrada</strong></p>
  	  <p> {{rendaDetalhe.DATA_RENDA}}</p>
    </div>
    
      	  <div class="col-md-8">
  	  	<label for="exampleInputEmail1">Campo Um</label>
  	  	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor" value="{{rendaDetalhe.DATA_RENDA}}">
  	  </div>
  	  
 </div>
  
 <hr />
 <div id="actions" class="row">
   <div class="col-md-12">
     <a href="rendas/edit/{{rendaDetalhe.ID}}" ng-click="salvarRenda(rendaDetalhe)" class="btn btn-primary">Editar</a>
	 <a href="rendas" class="btn btn-default">Fechar</a>
   </div>
 </div>