<h3 class="page-header">Editar Renda</h3>

<div class="row">
    <div class="form-group col-md-2">
        <label for="inputID">ID</label>
        <input type="text" class="form-control" id="inputID" readonly ng-model="rendaDetalhe.id">
    </div>
    <div class="form-group col-md-4">
        <label for="inputDescricao">Descri&ccedil;&atilde;o</label>
        <input type="text" class="form-control" id="inputDescricao" placeholder ng-model="rendaDetalhe.descricaoRenda">
    </div>
    <div class="form-group col-md-4">
        <label for="inputValor">Valor</label>
        <input type="text" class="form-control" id="inputValor" placeholder="Digite apenas n&uacute;meros" ng-model="rendaDetalhe.valorRenda">
    </div>
    <div class="form-group col-md-4">
        <label for="inputData">Data de entrada</label>
        <input type="text" class="form-control" id="inputData" placeholder ng-model="rendaDetalhe.dataRenda">
    </div>

<hr />

<div class="row">
    <div class="col-md-12">
        <a href="rendas" class="btn btn-primary" ng-click="editarRenda()" >Atualizar </a>
        <a href="rendas" class="btn btn-default">Cancelar</a>
    </div>
</div>

</div>