<h3 class="page-header">Visualizar Item #{{rendaDetalhe.id}}</h3>

  <div class="row">
    <div class="col-md-8">
      <p><strong>ID</strong></p>
  	  <p>{{rendaDetalhe.id}}</p>
    </div>

	<div class="col-md-8">
      <p><strong>Descri&ccedil;&atilde;o</strong></p>
  	  <p>{{rendaDetalhe.descricaoRenda}}</p>
    </div>

    <div class="col-md-8">
      <p><strong>Valor </strong></p>
  	  <p> {{rendaDetalhe.valorRenda}}</p>
    </div>
    
     <div class="col-md-8">
      <p><strong>Data de entrada </strong></p>
  	  <p> {{rendaDetalhe.dataRenda}}</p>
    </div> 
 </div>

 <hr />
 <div id="actions" class="row">
   <div class="col-md-12">
     <a href="rendas/edit/{{rendaDetalhe.id}}" ng-click="salvarRenda(rendaDetalhe)" class="btn btn-primary">Editar</a>
	 <a href="rendas" class="btn btn-default">Fechar</a>
   </div>
 </div> 