<h3 class="page-header">Editar Renda</h3>

<div class="row">
    <div class="form-group col-md-2">
        <label for="inputID">ID</label>
        <input type="text" class="form-control" id="inputID" readonly ng-model="rendaDetalhe.id">
    </div>
    
    <div class="form-group col-md-4">
        <label for="inputDescricao">Descri&ccedil;&atilde;o</label>
        <input type="text" class="form-control" id="inputDescricao" placeholder ng-model="rendaDetalhe.descricao">
    </div>
    
    
    
    
    
<hr />

<div class="row">
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Atualizar</button>
        <a href="template.html" class="btn btn-default">Cancelar</a>
    </div>
</div>

</div>