<h3 class="page-header">Editar Renda</h3>

<div class="row">
    <div class="form-group col-md-2">
        <label for="inputID">ID</label>
        <input type="text" class="form-control" id="inputID" readonly ng-model="rendaDetalhe.id">
    </div>
    <div class="form-group col-md-4">
        <label for="inputAssunto">Descrição</label>
        <input type="text" class="form-control" id="inputAssunto" placeholder="Digite o valor" ng-model="rendaDetalhe.descricaoRenda">
    </div>
    <div class="form-group col-md-4">
        <label for="inputAssunto">Valor</label>
        <input type="number" class="form-control" id="inputStatus" placeholder="Digite o valor" ng-model="rendaDetalhe.valorRenda">
    </div>
    <div class="form-group col-md-4">
        <label for="inputAssunto">Data</label>
        <input type="date" class="form-control" id="inputStatus" placeholder="Digite o valor" ng-model="rendaDetalhe.dataRenda">
    </div>
</div>


<hr />

<div class="row">
    <div class="col-md-12">
        <a href="rendas" class="btn btn-primary" ng-click="editarRenda()" >Atualizar </a>
        <a href="rendas" class="btn btn-default">Cancelar</a>
    </div>
</div>

</div>