<div>
<div id="top" class="row">
	<div class="col-sm-4">
	
	        <div class="input-group h2 ">
	
	            <button class="btn btn-primary" id="pesquisaBotao" type="submit" ng-click="totalDespesas()" >Resultado das Despesas</button>
	
				<span class="label label-default">	{{totalDespesa }}</span>
	        </div>
	        <div class="input-group h2 ">
	
	            <button class="btn btn-primary" id="pesquisaBotao"  ng-click="totalRendas()" >Resultado das Rendas</button>
	
	            <span class="label label-default">	{{totalRenda }}</span>
	
	        </div>
	        <br>
	        <div class="input-group h1">
				Resultado: <span class="label label-warning estilo1">	{{totalRenda - totalDespesa}}</span>
			</div>
	       	      
	</div>
</div>

</div>