<div>

<div class="col-sm-6">

        <div class="input-group h2 ">

            <button class="btn btn-primary" id="pesquisaBotao" type="submit" ng-click="totalDespesas()" >Resultado das Despesas</button>

			<span class="label label-default">	{{totalDespesa }}</span>
        </div>
        <div class="input-group h2 ">

            <button class="btn btn-primary" id="pesquisaBotao"  ng-click="totalRendas()" >Resultado das Rendas</button>

            <span class="label label-default">	{{totalRenda }}</span>

        </div>
       	      
    </div>

</div>