<!DOCTYPE html>
<html ng-app="walletControl">

<head>	 
	
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
	<script src="./js/app.js"></script>
	<script src="./js/controller/main-controller.js"></script>
	<script src="./js/controller/despesa-controller.js"></script>
	<script src="./js/controller/despesa-detalhe-controller.js"></script>
	<script src="./js/controller/usuario-controller.js"></script>
	<base href="/walletControl/"> 
	<link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="./bootstrap/css/style.css" rel="stylesheet">	
	<title>Wallet Control</title>

</head>

<body ng-controller="mainController">
	
	
	<div class="container" id="containerLogin">
    <a class="links" id="paralogin"></a>
    <a class="links" id="paracadastro"></a>
    
    <div class="content">      
      <!--FORMULÁRIO DE LOGIN-->
      <div id="login">
        <form method="post" action=""> 
          <h1>Login</h1> 
          <p> 
            <label for="email_login">Email</label>
            <input id="email_login" name="email_login" required="required" type="text" placeholder="exemplo@exemplo.com"/>
          </p>
          
          <p> 
            <label for="senha_login">Senha</label>
            <input id="senha_login" name="senha_login" required="required" type="password" placeholder="1234" /> 
          </p>
          
          <br>
          <p> 
            <input type="submit" value="Logar" ng-click="salvarUsuario()"/> 
          </p>
          
          <p class="link">
            Ainda não tem conta?
            <a href="#paracadastro">Cadastre-se</a>
          </p>
        </form>
      </div>

      <!--FORMULÁRIO DE CADASTRO-->
      <div id="cadastro">
        <form method="post" action=""> 
          <h1>Cadastro</h1> 
          
          <p> 
            <label for="nome_cad">Nome</label>
            <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Seu nome" />
          </p>
          
          <p> 
            <label for="email_cad">Email</label>
            <input id="email_cad" name="email_cad" required="required" type="email" placeholder="exemplo@exemplo.com"/> 
          </p>
          
          <p> 
            <label for="senha_cad">Senha</label>
            <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="1234"/>
          </p>
          
          <p> 
            <input type="submit" value="Cadastrar" ng-click="verificarUsuario()"/> 
          </p>
          
          <p class="link">  
            Já possui conta?
            <a href="#paralogin"> Fazer login </a>
          </p>
        </form>
      </div>
    </div>
  </div> 
	
	<script src="./bootstrap/js/jquery.min.js"></script>
	<script src="./bootstrap/js/bootstrap.min.js"></script>
</body>

</html>